body {
  margin: 0px;
  font-family: sans-serif;
}

nav {
  background-color: orange;
  padding: 10px;
  margin: 0px;
}

#moedas {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

li {
  list-style-type: none;
  margin: 10px;

}

ul {
  display: flex;
  flex-wrap: wrap;
  width: 1600px;
  justify-content: space-around;
  padding: 0px;
}

.cartao {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 250px;
  border-radius: 10px;
  margin-top: 25px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

h3 {
  text-align: center;
}

h4 {
  margin: 5px;
  text-align: center;
}

a {
  text-align: center;
}

img {
  margin-top: 20px;
  width: 80px;
}
